  .title {
    font-family: var(--titles-font);
    font-weight: 700;
    font-size: 30px;
    color: #5c0511;
    text-align: center;
    margin-top: 100px;
    z-index: 2;
  }
  
  .texto {
    font-family: var(--titles-font);
    font-weight: 300;
    font-size: 18px;
    color: #101010;
    text-align: center;
    /* margin-top: 80px; */
    z-index: 2;
  }
  