  .conteudo {
    justify-content: center;
    gap: 20px; 
  }

  .tituloConteudo {
    font-family: var(--title-font);
    font-weight: 600px;
    font-size: 40px;
    color: #5c0511;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
  }
  
  .navConteudo {
    display: flex;
  }

  .btnNav {
    text-decoration: none;
    background:#5c0511 ;
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 15px 10px;
  }