.navMenu {
  display: flex;
  align-self: center;
  justify-content: space-around;
}

.itemMenu {
  font-family: var(--title-font);
  font-size: 30px;
  text-decoration: none;
  color: #101010;
  padding: 10px;
  align-self: center;
}

.logoMenu {
  font-family: var(--logo-font);
  font-size: 41px;
  text-decoration: none;
  color: #101010;
  padding: 8px;
  align-self: center;
}

.logoMenu:hover,
.itemMenu:focus,
.itemMenu:hover {
  color: #f9ae48;
}
